---
import BorderLine from "./utils/BorderLine.astro"
---


<div class="center">
  <div class="container">
    <div class="title">ВЕРНОЕ ДИЗАЙНЕРСКОЕ РЕШЕНИЕ</div>
    <BorderLine/>
    <ul class="text">
      <li>ЗАЛОГ УСПЕШНОГО ПРОЕКТА</li>
      <li>АТРИБУТ СОСТОЯТЕЛЬНЫХ ЛИЧНОСТЕЙ</li>
      <li>ГАРАНТИЯ ПРИВЛЕКАТЕЛЬНОСТИ</li>
    </ul>
    <div class="buttom-text">ДОВЕРЬТЕ ЭТО ДЕЛО ПРОФЕССИОНАЛАМ</div>
  </div>
</div>


<style>
  .center{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin: auto;

  }
  .title{
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 0%;
  }
  .text{
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
  }
  .buttom-text{
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
  }
</style>