<div class="large-text"><slot/></div>

<style>
   .large-text{
      font-family: inherit;
      font-weight: 400;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 0%;
    }
</style>