<div class="img-container"><slot/></div>

<style>
  .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    top: 150px;
    left: 66px;
    border-radius: 50px;
    background-color: #FFFFFF;
  }
</style>