<div class="img-container"><slot/></div>

<style>
  .img-container{
    width: 224px;
    height: 224px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px 0px #000000BF;
  }
</style>